body {
    margin: 0;
    background-image: url(https://i.pinimg.com/originals/3a/0b/40/3a0b40d96c53860572a1c29970ce14a8.gif);
    background-size: cover;
    color: white;
}
html{
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}
h1{
    font-size: 100px;
    color: white;
    text-shadow: 0px -1px 2px white;
    font-weight: 900;
    font-family: Raleway;                                                                                                                                                                                       
}