html{
    scroll-behavior: smooth;
    height: 100%
}
body{
    margin: 0;
    overflow-x: hidden;
    background-color: black;
}
html::-webkit-scrollbar{
    display: none;
}
a{
  text-decoration: none;
}