.hero {
    background-image: url('https://images.pexels.com/photos/346529/pexels-photo-346529.jpeg?cs=srgb&dl=pexels-bri-schneiter-346529.jpg&fm=jpg');
    background-size: cover;
    height: 100vh;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .overlay{
    color: white;
    z-index: 100;
    font-size: 50px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 40%;
    padding-right: 100px;
    padding-left : 100px;
  }
  .hero_overlay_img{
    position: absolute;
    z-index: 12;
    width: 100%;
    opacity: 10%;
    margin-top: 900px;
    margin-left: 150px;
  }
  header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  header a {
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: white;
    font-size: 20px;
    font-family: 'Open Sansx    ', sans-serif;
    position: relative;
    padding: 30px;
    transition: border-style 1.5s, border-color 1.5s;
  }

  header a:hover {
    border-color: white;
    border-style: solid;
  }
