.hero {
    background-image: url('https://images.pexels.com/photos/346529/pexels-photo-346529.jpeg?cs=srgb&dl=pexels-bri-schneiter-346529.jpg&fm=jpg');
    background-size: cover;
    height: 100vh;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .overlay{
    color: white;
    z-index: 100;
    font-size: 50px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 40%;
    padding-right: 100px;
    padding-left : 100px;
  }
  .hero_overlay_img{
    display: none;
  }
  header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
  }

  header a {
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: black;
    font-size: 20px;
    font-family: 'Open Sansx    ', sans-serif;
    position: relative;
    padding: 30px;
    transition: background-color 0.15s, opacity 0.15s;
    border-color: white;
    border-style: solid;
    text-shadow: 0 0 1px white;
    font-size: 30px;
    opacity: 30%;
  }

  header a:hover {
    background-color: white;
    opacity: 100;
  }
  .custom-shape-divider-top-1702462816 {
    position: absolute;
    margin-top: 50px;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1702462816 svg {
    position: relative;
    display: block;
    width: calc(145% + 1.3px);
    height: 600px;
}

.custom-shape-divider-top-1702462816 .shape-fill {
    fill: #00FFF14D;
}