#latest {
  background-color: #7C57B4;
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 400px;
}

#latest h1 {
  color: #F1C50E;
  font-size: 100px;
  margin-top: 20px;
}

.news-presentation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.news {
  background-color: white;
  width: 300px;
  height: 400px;
  margin: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.news-img {
  width: 280px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  height: 150px;
}

.news p {
  padding: 10px;
  text-align: center;
}

.dato {
  color: grey;
}

#personal {
  background-color: #FFA781;
  position: relative;
  min-height: 100vh;
  width: 100%;
  box-shadow: 100px 0 1px black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#personal h1 {
  color: #5B0E2D;
  font-size: 100px;
  margin-top: 20px;
}

#personal #latest-news {
  color: #5B0E2D;
  font-size: 60px;
  margin-top: 20px;
}

#related {
  background-color: lightseagreen;
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#related h1 {
  color: #c2fd00;
  font-size: 100px;
  margin-top: 20px;
}
