@media only screen and (min-width: 430px) {
    .news{
        flex-direction: column;
    }
    .hero_overlay_img{
        position: absolute;
        z-index: 12;
        width: 100%;
        opacity: 10%;
        margin-top: 900px;
        margin-left: 150px;
    }
}