body{
    background-color: lightpink;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 3000px;
}
img{
    border-style: solid;
    border-width: 40px;
    border-color: #d32bd3;
    height: 100px;
    margin: 5px;
    margin-bottom: 0px;
    transition: border-color 0.30s, border-radius 0.30s;
}
img:hover{
    border-color: cornflowerblue;
    border-radius: 100px;
}
.box_1{
    background-color: lightblue;
    width: 100px;
    height: 100px;
    color: lightblue;
    transition: border-radius 0.2s, background-color 1s, width 0.5s, height 0.5s;
}
.box_1:hover{
    background-color: blue;
    border-radius: 50px;
    cursor:pointer;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
.box_2{
    background-color: pink;
    width: 100px;
    height: 100px;
    color: lightblue;
    transition: border-radius 0.2s, background-color 1s, width 0.5s, height 0.5s;
}
.box_2:hover{
    background-color: rgb(255, 25, 209);
    border-radius: 50px;
    cursor:pointer;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
.box_3{
    background-color: lightgreen;
    width: 100%;
    height: 100px;
    color: lightblue;
    transition: border-radius 0.2s, background-color 1s, width 0.5s, height 0.5s;
}
.box_3:hover{
    background-color: green;
    border-radius: 50px;
    cursor:pointer;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
.box_4{
    background-color: lightcoral;
    width: 100px;
    height: 100px;
    color: lightblue;
    transition: border-radius 0.2s, background-color 1s, width 0.5s, height 0.5s;
}
.box_4:hover{
    background-color: rgb(250, 100, 46);
    border-radius: 50px;
    cursor:pointer;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.container{
    background-color: lightgrey;
    border-style: solid;
    border-width: 4px;
    border-color: black;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    flex-direction: row;
    row-gap: 10px;
    column-gap: 10px;
    height: 1000px;
    width: 1000px;
    margin-top: 100px;
    transition: background-color 0.3s, border-radius 0.3s;

}
.container:hover{
    background-color: grey;
    border-radius: 500px;
}
.f{
    background-color: black;
    border-radius: 40px;
    width: 80px;
    height: 80px;
    border-style: none;
    color: white;
    font-size: 60px;
    font-weight: bold;
    transition: box-shadow;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 30px;
    margin-left: 30px;
}
.f:hover{
    cursor: pointer;
    box-shadow: 0px 0px 4px grey;
}