.middle {
    width: 100%;
    height: 800px;
    background-color: black;
    padding-top: 10px;
}

.header-buttons{
    z-index: 3;
    pointer-events: auto;
}

.header-buttons a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
    transition: color 0.3s;
}
#about{
    width: 100%;
    margin-top: 10vh;
    margin-bottom: 30vh;;
    position: relative;
}
#projects{
    width: 80%;
    position: relative;
    color: black;
    border-color: white;
    border-style: solid;
    border-width: 10px;
    margin-left: 10%;
}
#projects h1{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
    font-size: 80px;
}
#contact{
    width: 100%;
    height: 1000px;
    position: relative;
}
.om-meg{
    display: flex;
    width: 80%;
    margin-left: 10%;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.om-meg p, h2{
    font-weight: bold;
}
.om-meg p{
    font-family: Handlee
}
.custom-shape-divider-bottom-1702021998 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1702021998 svg {
    position: relative;
    display: block;
    width: calc(145% + 1.3px);
    height: 213px;
}

.custom-shape-divider-bottom-1702021998 .shape-fill {
    fill: black;
}

.hidden{
    opacity: 0;
    transition: all 1.5s;
}
.show{
    opacity: 1;
}

.project{
    width: 100%;
    height: 25vh;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    transition: height 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 100px;
    font-family: Raleway;
    color: white;
    text-shadow: 0px 0px 20px black;
}
.project:hover{
    height: 40vh;
    opacity: 100;
}
.project:active{
    height: 100vh;
    opacity: 1;
}
.project-1{
    background-image: url(bilder/duell.png);
    opacity: 70%;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 25vh;
}
.project-1, .project-2, .project-3, .project-4, .project-5, .project-6:active{
    border-top-style: solid;
    border-top-color: white;
    border-top-width: 10px;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 10px;
}
.project-2{
    background-image: url(bilder/g4jr.png);
    opacity: 70%;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 25vh;
}
.project-3{
    background-image: url(bilder/meg.png);
    opacity: 70%;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 25vh;
}
.project-4{
    background-image: url(bilder/nettavis.png);
    opacity: 70%;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 25vh;
}
.project-5{
    background-image: url(bilder/bildelisenser.png);
    opacity: 70%;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 25vh;
}
.project-6{
    background-image: url(bilder/blogg-template.png);
    opacity: 70%;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 25vh;
}
.proj-desc{
    font-size: 10px;
    text-align: center;
}
.href-button{
    width: 100%;
    color: white;
    font-size: 30px;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.href-button button{
    background-color: aqua;
    border: none;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 34px;
    font-family: Raleway;
}