@media only screen and (max-width: 500px) {
    .overlay h1{
        font-size: 30px;
    }
    #projects h1{
        font-size: 30px;
    }
    #projects div{
        font-size: 30px;
    }
    .project:hover{
        height: 25vh;
        opacity: 100%;
    }
    .project:active{
        height: 25vh;
        opacity: 100%;
    }
    .arrow{
        display: none;
    }
}